<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/lib/echarts.js"></script>
    <script type="text/javascript" src="../static/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/lib/china.js"></script>
<!--    <script type="text/javascript" src="../static/js/domestic_date.js"></script>-->
    <script type="text/javascript" src="../static/js/province_date.js"></script>
</head>
<body style="margin: 0;padding: 0;">
<div id="province_date" style="width: 100%;height: 100%;position: absolute"></div>
</body>
</html>